:root {
    --primary-color: #849acc;
    --primary-dark: #7e8eb0;
    --background-color: #fffff;
    --text-color: #6e6863    ;
    --footer-text-color: #aaa;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    font-family: 'Helvetica', cursive, sans-serif;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: var(--primary-dark);
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


button:active {
    transform: scale(0.95);
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
   color: var(--primary-dark)
}

.koala-link {
    color: var(--primary-dark);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.koala-link:hover {
    color: var(--primary-color);
}

footer {
    text-align: center;  /* Center the text */
    position: fixed;  /* Fix the footer at the bottom */
    bottom: 0;  /* Stick to the bottom */
    width: 100%;  /* Full width */
    padding: 10px 0;  /* Small padding */
    font-size: 12px;  /* Small font size */
    color: var(--footer-text-color);  /* Light grey text */
}

footer a {
    color: var(--footer-text-color);  /* Light grey links */
    text-decoration: none;  /* Remove underline */
    margin: 0 5px;  /* Small margin between links */
}
